.forgot-page {
  height: 100vh;
  background-color: #55d6c2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-box {
  background-color: #a9e5db;
  padding: 30px 40px;
  border-radius: 6px;
  width: 420px;
  text-align: center;
  box-shadow: 6px 8px 0 rgba(0, 0, 0, 0.15);
}

.forgot-instruction {
  margin-bottom: 20px;
  font-size: 15px;
  color: #000;
  border: 1px solid red;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
}

.forgot-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 4px;
}

.forgot-btn {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn {
  background-color: #00b300;
}

.signin-btn {
  background-color: #005ce6;
}
