.sidebar {
  background-color: #2DCCC0;
  color: white;
  width: 200px;
  padding: 20px;
  font-family: var(--font-primary);
  height: 100vh;
  box-sizing: border-box;
}

.sidebar h2 {
  margin-bottom: 32px;
  font-style: italic;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
  cursor: pointer;
}
